.friends-container {
  grid-column: 2 / 3;
  padding-top: 10px;
}

.friend-card {
}

.friend-card-image {
  float: right;
  display: block;
  height: inherit;
  width: auto;
  margin: 0 0 0 25%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.friend-name {
  float: left;
}
