.friends-container {
  grid-column: 2 / 3;
  padding-top: 10px;
}
.friends-list {
  height: 545px;
  overflow: auto;
  padding: 1em;
}

.friend-card-image {
  float: right;
  display: block;
  height: 55px;
  width: auto;
  margin: 0 0 0 25%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.friend-name {
  float: left;
}

.friend-location {
}

.hover-display {
  margin-top: -20px;
  margin-left: 40px;
}

.clearfix:after {
  content: ” “;
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
  clear: both;
}

.friend-display-info {
  float: right;
  background-color: white;
  border-radius: 15%;
  padding: 1px;
  background-color: rgba(247, 247, 247, 0.75);
  border: 1px solid rgba(0, 176, 236, 0.6);
}

.hover-display-pic {
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.search-result {
}

.search-result-text {
  margin: auto;
  display: inline;
  font-size: 18px;
  float: left;
  line-height: 50px;
}

.search-result-image {
  float: right;
  display: block;
  height: 50px;
  width: auto;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
