.map-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  grid-auto-rows: minmax(100px, auto);
  grid-column: 3 / 7;

  padding-top: 10px;
}

.google-map {
  resize: both;
  grid-area: a;
  width: 750px;
  height: 600px;
  border-color: black;
  border-width: 1px;
  grid-column-start: 1;
  grid-row-start: 1;
  margin: 0 auto;
}

.me {
  transform: translateX(-50%) translateY(-100%);
}

.friend-location > img {
  transform: translateX(-50%) translateY(-100%);
}

.meetup-location > img {
  transform: translateX(-50%) translateY(-100%);
}

.selected-meetup > img {
  transform: translateX(-50%) translateY(-100%);
}
