.meetups-container {
  grid-column: 2 / 7;
}

.create-meetup-div {
  width: 750px;
  margin: auto;
}

#create-meetup-button {
  background-color: #2b2f3a;
  color: rgb(45, 132, 194);
  margin-bottom: 5px;
}

.brand-logo-create-meetup {
  height: 40px;
}

.meetup-list {
  margin: auto;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.meetup-card {
  margin: 10px;
  margin-bottom: 40px;
  height: 400px;
  width: auto;
}

.meetup-card-image {
  height: 250px;
}

.meetup-display {
  margin-right: 176px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-top: 10px;
  display: block;
  position: relative;
  z-index: 1; /* Sit on top */
  width: 750px;
  height: 600px;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow: auto;
}

.display-image {
  width: auto;
  height: 100px;
}
/* Modal Content/Box */
.meetup-display-content {
  color: #f2f3f4;
  background-color: rgba(42, 47, 58, 0.65);
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #f2f3f4;
  float: right;
  font-size: 28px;
  padding-right: 10px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
