body {
  color: #6a6f8c;
  background: #f2f3f4;
  font: 600 16px/18px "Open Sans", sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage {
  display: grid;
  grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.hover-display > img {
  display: inline;
}

.header {
  font-size: 2em;
  padding: 10px;
  padding-top: 15px;
}

/* .hover-display:hover {
  display: block;
} */
